[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "FAdist"]
	path = FAdist
	url = https://github.com/tpetzoldt/fadist
	shallow = true
	registered = true
[submodule "FAmle"]
	path = FAmle
	url = https://github.com/tpetzoldt/famle
	shallow = true
	subdir = pkg/FAmle
	registered = true
